packages/node_modules/@node-red/runtime/lib/storage/localfilesystem/testFlow.json
[{"id":"216d0151.6c901e","type":"tab","label":"testFlow","disabled":false,"info":""},{"id":"2589573c.2691f8","type":"inject","z":"216d0151.6c901e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Welcome to Trinity IOT-SDK","payloadType":"str","x":250,"y":180,"wires":[["f35b49ef.8ae0a8"]]},{"id":"f35b49ef.8ae0a8","type":"debug","z":"216d0151.6c901e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":180,"wires":[]},{"id":"dbf9112e.2c23e","type":"comment","z":"216d0151.6c901e","name":"Welcome to Trinity IOT-SDK","info":"Welcome to trinity IOT-SDK","x":380,"y":120,"wires":[]}]